html
  head
    title Rezume Seroshtan
   body
     div.wrapper
       div.block-name
         div.block-name__round1
           div.block-name__round2
         h2.block-name__name victor 
         h1.block-name__surname serohtan
         h3.block-name__profession front-end developer
       div.block-profile
         h2.block-profile__header profile
         p.
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
       div.block-contact
         p contact
       div.block-skills
         p skills
       div.block-education
         p education
       div.block-experience
         p experience
       div.block-software
         p software