html
  head
    title Rezume Seroshtan
   body
     div.wrapper
       div.block-name
         p name
       div.block-profile
         p profile
       div.block-contact
         p contact
       div.block-skills
         p skills
       div.block-education
         p education
       div.block-experience
         p experience
       div.block-software
         p software