.wrapper {
  border: 1px solid #008000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
justify-content
}
.block-name,
.block-profile,
.block-contact,
.block-skills {
  flex-basis: 40%;
  min-width: 220px;
  min-height: 220px;
  box-sizing: border-box;
  border: 2px solid #f00;
  background-color: #008000;
}
.block-education,
.block-experience,
.block-software {
  flex-basis: 60%;
  min-width: 220px;
  min-height: 220px;
  box-sizing: border-box;
  border: 2px solid #f00;
  background-color: #008000;
}
.block-name {
  order: 1;
}
.block-education {
  order: 2;
}
.block-profile {
  order: 3;
}
.block-experience {
  order: 4;
}
.block-contact {
  order: 5;
}
.block-software {
  order: 6;
}
.block-skills {
  order: 7;
}
