.wrapper
  border 1px solid green
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content 
  
.block-name,.block-profile,.block-contact,.block-skills
  flex-basis 40%
  min-width: 220px;
  min-height: 220px;
  box-sizing border-box
  border 2px solid red
  
.block-education,.block-experience,.block-software
  flex-basis 60%
  min-width: 220px;
  min-height: 220px;
  box-sizing border-box
  border 2px solid red
  
.block-name
  order 1
  
.block-education
  order 2

.block-profile
  order 3
  
.block-experience
  order 4
  
.block-contact
  order 5
  
.block-software
  order 6
  
.block-skills
  order 7
  
.block-name__name,.block-name__surname,.block-name__profession
  font-variant small-caps
  text-align center
  
.block-name__name
  color grey
  font-size 2rem
  
div.block-name__round2
  border-radius 50%
  width 100px
  height 100px
  background-color blue
  margin 5% auto
  
div.block-name__round1
  border-radius 50%
  width 110px
  height 110px
  border 2px solid blue
  margin 5% auto
  
.block-profile__header
  color blue